<div id="<%= dom_id prayer_circle %>">
  <p>
    <strong>Name:</strong>
    <%= prayer_circle.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prayer_circle.description %>
  </p>

</div>
