<% content_for :title, "Editing prayer circle" %>

<h1>Editing prayer circle</h1>

<%= render "form", prayer_circle: @prayer_circle %>

<br>

<div>
  <%= link_to "Show this prayer circle", @prayer_circle %> |
  <%= link_to "Back to prayer circles", prayer_circles_path %>
</div>
