<% content_for :title, "Editing prayer" %>

<h1>Editing prayer</h1>

<%= render "form", prayer: @prayer %>

<br>

<div>
  <%= link_to "Show this prayer", prayer_circle_prayer_path(@prayer_circle, @prayer) %> |
  <%= link_to "Back to prayers", prayer_circle_prayers_path(@prayer_circle) %>
</div>
